<ion-view class="view" cache-view="false">
    <ion-content class="has-header">

        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Search" ng-model="dvCtrl.searchQuery">
            </label>
        </div>

        <ion-list class="list">
            <ion-item class="item"
                      ng-repeat="q in filteredQuestions =  (dvCtrl.questions | filter:dvCtrl.searchQuery | orderBy:question)"
                      ng-click="dvCtrl.showStats(q)">
                {{q.question}}<br>
                <span ng-repeat="a in filteredAnswers = (q.answers | filter:dvCtrl.searchQuery.answers | orderBy:question)"
                      style="color:limegreen;font-size: 12px"> {{a}} </span>

            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>