<ion-view class="view" cache-view="false">
    <ion-content>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Suchen" ng-model="dvCtrl.searchQuery">
            </label>
        </div>

        <ion-list class="list">
            <ion-item class="item"
                      ng-repeat="q in filteredQuestions =  (dvCtrl.questions | filter:dvCtrl.searchQuery | orderBy:question)"
                      ng-click="dvCtrl.showQuestion(q)">
                {{q.question}}
            </ion-item>
        </ion-list>
        <label>
            <button class="button button-assertive" style="align-self: auto" ng-click="dvCtrl.resetStats()">
                Statistik zurücksetzen
            </button>
        </label>
    </ion-content>
</ion-view>