<ion-view class="view" cache-view="false">
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-stats-bars"
                ng-click="dvCtrl.showStats()">
        </button>
    </ion-nav-buttons>
    <ion-content>
        <div class="item item-input-inset">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Suchen" ng-model="dvCtrl.searchQuery">
            </label>
        </div>

        <ion-list class="list item-text-wrap">
            <ion-item class="item item-text-wrap" style=""
                      ng-repeat="q in filteredQuestions =  (dvCtrl.questions | filter:dvCtrl.searchQuery | orderBy:question)"
                      ng-click="dvCtrl.showQuestion(q)">
                {{q.question}}
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>