<ion-view title="MC-Trainer">
    <ion-content>
        <ion-nav-buttons side="right">
            <button class="button button-icon icon ion-navicon-round"
                    ng-click="popover.show($event)">

            </button>
        </ion-nav-buttons>

        <ion-list>
            <ion-item ng-repeat="module in mlCtrl.modules" href="#/modules/{{module.name}}">
                {{module.name}}
                <small style="color: grey;">({{module.questions.length}})</small>
                <ion-option-button class="button button-calm" ng-click="mlCtrl.showStats()">
                    Statistik
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<script id="popover.html" type="text/ng-template">
    <ion-popover-view>
        <ion-list>
            <ion-item class="item-icon-left"
                      ng-click="popover.hide()">
                <i class="icon ion-arrow-down-a"></i>
                Module laden
            </ion-item>
        </ion-list>
    </ion-popover-view>
</script>
