<ion-view>
    <ion-nav-buttons side="secondary">
        <button class="button button-icon icon ion-android-download"
                ng-click="mlCtrl.openModal()">
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="module in mlCtrl.modules" href="#/modules/{{module.name}}">
                {{module.name}}
                <small style="color: grey;">({{module.questions.length}})</small>
                <ion-option-button class="button button-energized icon-left ion-information-circled"
                                   ng-click="mlCtrl.goDetails($index)">
                    Details
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
