<!--
<ion-view class="">
    <ion-content class="has-header">
        <ion-nav-buttons class="" side="right">
            <button class="button button-icon icon ion-fireball"
                    ng-click="qvCtrl.$ionicNavBarDelegate.back()">Exit
            </button>
        </ion-nav-buttons>
        <div class="list">
            <div class="text-center">
                <strong>
                    <span class="item-text-wrap" style="font-size: 30px" ng-bind="qvCtrl.question"></span>
                </strong>
            </div>
        </div>
        <ion-list class="list">
            <ion-item class="" ng-repeat="answer in qvCtrl.answers">
                <button class="button button-full button-positive">
                    {{answer}}
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
-->
<ion-view class="view">
    <ion-content padding="true" class="has-header">
        <ion-nav-buttons class="" side="right">
            <button class="button button-icon icon ion-fireball"
                    ng-click="qvCtrl.showStats()">Exit
            </button>
        </ion-nav-buttons>
        <div class="spacer" style="display: inline-block; width: 300px; height: 30px;"></div>
        <div class="text-center">
            <p ng-bind="qvCtrl.question" style="font-size: 30px; font-family: 'Indie Flower';"></p>
        </div>
        <div class="spacer" style="display: inline-block; width: 300px; height: 30px;"></div>
        <ion-list class="list">
            <label class="item item-checkbox" ng-repeat="answer in qvCtrl.answers">
                <label class="checkbox">
                    <input type="checkbox" ng-model="qvCtrl.answered[$index]">
                </label>
                <strong>{{answer}}</strong>
            </label>
        </ion-list>
        <div ng-hide="qvCtrl.isAnswered">
            <button class="button button-positive button-block" ng-click="qvCtrl.check()">Prüfen</button>
        </div>
        <div ng-show="qvCtrl.isAnswered">
            <button class="button button-positive button-block" ng-click="qvCtrl.nextQuestion()">Nächste Frage</button>
        </div>
    </ion-content>
</ion-view>