<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.mctrainer310009" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>MC-Trainer</name>
  <description>
        Ein Multiple Choice-Trainer
    </description>
  <author href="https://scm.thm.de/redmine/projects/mc-trainer">
      Alexander Bus, Timo Martin, Samuel Mehrbrodt
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>